@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');

/* General Slider Styles */
.slider {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider .list .item {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

.slider .list .item .content {
    position: absolute;
    bottom: 20%;
    left: 10%;
    z-index: 20;
    color: white;
}

.slider .list .item .content h2 {
    font-size: 4rem;
    margin: 0;
}

.slider .list .item .content p {
    font-size: 1.2rem;
    max-width: 500px;
}

/* Button Group (Positioned in the top-right corner, aligned in a row) */
.button-group-row {
    position: fixed;
    top: 10px;
    right: 50px;
    display: flex;
    gap: 30px;
    z-index: 30;
}

.slider-button {
    background: none;
    border: none;
    padding: 0;
    font-size: 1.6rem;
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: '#f8f7ff';
    text-shadow: 1px 1px 4px black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.slider-button:hover {
    background-color: transparent;
    color: #847c40;
}

/* Button Arrows */
.arrows {
    position: relative;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    z-index: 20;
    margin: 0;
    overflow-x: hidden;
}


.arrows button {
    border: none;
    width: 30px;
    padding: 0px;
    background-color:#c3c2b9;
    font-weight: 900;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrows button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}


#spacer{
    flex: 10;
}

/* Thumbnail Styles */
.thumbnail {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
    z-index: 20;
    overflow-x: auto;
}

.thumbnail .item {
    width: 150px;
    height: 100px;
    filter: brightness(0.5);
    transition: filter 0.3s ease;
    cursor: pointer;
    flex-shrink: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.thumbnail .item.active {
    filter: brightness(1.2);
}